<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="index.php" method="post" enctype="multipart/form-data">
    <p>
        Параметры редактирования
    </p>
    <label for="number">Новость №День+Mесяц+Год</label>
    <input type="text" id="number" name="number">
    <br>
    <label for="column">День - day_, месяц - month_, год - year_, заголовок - heading</label>
    <input type="text" id="column" name="column">
    <br>
    <label for="value">Значение</label>
    <input type="text" id="value" name="value">
    <br>
    <input type="hidden" name="ctrl" value="Admin">
    <input type="hidden" name="act" value="Update">
    <input type="submit">
</form>
</body>
</html>